# Creating a logistic regression to predict absenteeism

## Import the relevant libraries

In [1]:
# import the relevant libraries
import pandas as pd
import numpy as np

## Load the data

In [4]:
# load the preprocessed CSV data
data_preprocessed = pd.read_csv('Absenteeism_preprocessed.csv')

In [6]:
# eyeball the data
data_preprocessed.head()

,loop_1,loop_2,loop_3,loop_4,ID,Month_value,weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason for Absence
0,True,False,False,False,11,7,1,289,36,33,239.554,30,0,2,1,4,26
1,False,False,True,False,36,7,1,118,13,50,239.554,31,0,1,0,0,0
2,True,False,False,False,3,7,2,179,51,38,239.554,31,0,0,0,2,23
3,True,False,False,False,7,7,3,279,5,39,239.554,24,0,2,0,4,7
4,True,False,False,False,11,7,3,289,36,33,239.554,30,0,2,1,2,23

## Create the targets

In [9]:
# find the median of 'Absenteeism Time in Hours'
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [11]:
# create targets for our logistic regression
# they have to be categories and we must find a way to say if someone is 'being absent too much' or not
# what we've decided to do is to take the median of the dataset as a cut-off line
# in this way the dataset will be balanced (there will be roughly equal number of 0s and 1s for the logistic regression)
# as balancing is a great problem for ML, this will work great for us
# alternatively, if we had more data, we could have found other ways to deal with the issue 
# for instance, we could have assigned some arbitrary value as a cut-off line, instead of the median

# note that what line does is to assign 1 to anyone who has been absent 4 hours or more (more than 3 hours)
# that is the equivalent of taking half a day off

# initial code from the lecture
# targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 3, 1, 0)

# parameterized code
targets = np.where(data_preprocessed['Absenteeism Time in Hours'] > 
                   data_preprocessed['Absenteeism Time in Hours'].median(), 1, 0)

In [13]:
# eyeball the targets
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [15]:
# create a Series in the original data frame that will contain the targets for the regression
data_preprocessed['Excessive Absenteeism'] = targets

In [17]:
# check what happened
# maybe manually see how the targets were created
data_preprocessed.head()

,loop_1,loop_2,loop_3,loop_4,ID,Month_value,weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Reason for Absence,Excessive Absenteeism
0,True,False,False,False,11,7,1,289,36,33,239.554,30,0,2,1,4,26,1
1,False,False,True,False,36,7,1,118,13,50,239.554,31,0,1,0,0,0,0
2,True,False,False,False,3,7,2,179,51,38,239.554,31,0,0,0,2,23,0
3,True,False,False,False,7,7,3,279,5,39,239.554,24,0,2,0,4,7,1
4,True,False,False,False,11,7,3,289,36,33,239.554,30,0,2,1,2,23,0

## A comment on the targets

In [20]:
# check if dataset is balanced (what % of targets are 1s)
# targets.sum() will give us the number of 1s that there are
# the shape[0] will give us the length of the targets array
targets.sum() / targets.shape[0]

0.45571428571428574

In [22]:
# create a checkpoint by dropping the unnecessary variables
# also drop the variables we 'eliminated' after exploring the weights
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours'],axis=1)

In [24]:
# check if the line above is a checkpoint :)

# if data_with_targets is data_preprocessed = True, then the two are pointing to the same object
# if it is False, then the two variables are completely different and this is in fact a checkpoint
data_with_targets is data_preprocessed

False

In [26]:
# check what's inside
data_with_targets.head()

,loop_1,loop_2,loop_3,loop_4,ID,Month_value,weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Reason for Absence,Excessive Absenteeism
0,True,False,False,False,11,7,1,289,36,33,239.554,30,0,2,1,26,1
1,False,False,True,False,36,7,1,118,13,50,239.554,31,0,1,0,0,0
2,True,False,False,False,3,7,2,179,51,38,239.554,31,0,0,0,23,0
3,True,False,False,False,7,7,3,279,5,39,239.554,24,0,2,0,7,1
4,True,False,False,False,11,7,3,289,36,33,239.554,30,0,2,1,23,0

## Select the inputs for the regression

In [29]:
data_with_targets.shape

(700, 17)

In [31]:
# Selects all rows and all columns until 14 (excluding)
data_with_targets.iloc[:,:14]

,loop_1,loop_2,loop_3,loop_4,ID,Month_value,weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children
0,True,False,False,False,11,7,1,289,36,33,239.554,30,0,2
1,False,False,True,False,36,7,1,118,13,50,239.554,31,0,1
2,True,False,False,False,3,7,2,179,51,38,239.554,31,0,0
3,True,False,False,False,7,7,3,279,5,39,239.554,24,0,2
4,True,False,False,False,11,7,3,289,36,33,239.554,30,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,False,True,False,False,17,5,2,179,22,40,237.656,22,1,2
696,True,False,False,False,28,5,2,225,26,28,237.656,24,0,1
697,True,False,False,False,18,5,3,330,16,28,237.656,25,1,0
698,True,False,False,False,25,5,3,235,16,32,237.656,25,1,0
699,False,True,False,False,15,5,3,291,31,40,237.656,25,0,1

In [33]:
# Selects all rows and all columns but the last one (basically the same operation)
data_with_targets.iloc[:,:-1]

,loop_1,loop_2,loop_3,loop_4,ID,Month_value,weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Reason for Absence
0,True,False,False,False,11,7,1,289,36,33,239.554,30,0,2,1,26
1,False,False,True,False,36,7,1,118,13,50,239.554,31,0,1,0,0
2,True,False,False,False,3,7,2,179,51,38,239.554,31,0,0,0,23
3,True,False,False,False,7,7,3,279,5,39,239.554,24,0,2,0,7
4,True,False,False,False,11,7,3,289,36,33,239.554,30,0,2,1,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,False,True,False,False,17,5,2,179,22,40,237.656,22,1,2,0,10
696,True,False,False,False,28,5,2,225,26,28,237.656,24,0,1,2,6
697,True,False,False,False,18,5,3,330,16,28,237.656,25,1,0,0,10
698,True,False,False,False,25,5,3,235,16,32,237.656,25,1,0,0,23
699,False,True,False,False,15,5,3,291,31,40,237.656,25,0,1,1,28

In [35]:
# Create a variable that will contain the inputs (everything without the targets)
unscaled_inputs = data_with_targets.iloc[:,:-1]

## Standardize the data

In [38]:
# standardize the inputs

# standardization is one of the most common preprocessing tools
# since data of different magnitude (scale) can be biased towards high values,
# we want all inputs to be of similar magnitude
# this is a peculiarity of machine learning in general - most (but not all) algorithms do badly with unscaled data

# a very useful module we can use is StandardScaler 
# it has much more capabilities than the straightforward 'preprocessing' method
from sklearn.preprocessing import StandardScaler


# we will create a variable that will contain the scaling information for this particular dataset
# here's the full documentation: http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

# define scaler as an object
absenteeism_scaler = StandardScaler()

In [40]:
# import the libraries needed to create the Custom Scaler
# note that all of them are a part of the sklearn package
# moreover, one of them is actually the StandardScaler module, 
# so you can imagine that the Custom Scaler is build on it

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler

# create the Custom Scaler class

class CustomScaler(BaseEstimator,TransformerMixin): 
    
    # init or what information we need to declare a CustomScaler object
    # and what is calculated/declared as we do
    
    def __init__(self,columns,copy=True,with_mean=True,with_std=True):
        
        # scaler is nothing but a Standard Scaler object
        self.scaler = StandardScaler(copy,with_mean,with_std)
        # with some columns 'twist'
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    
    # the fit method, which, again based on StandardScale
    
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    # the transform method which does the actual scaling

    def transform(self, X, y=None, copy=None):
        
        # record the initial order of the columns
        init_col_order = X.columns
        
        # scale all features that you chose when creating the instance of the class
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        
        # declare a variable containing all information that was not scaled
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        
        # return a data frame which contains all scaled features and all 'not scaled' features
        # use the original order (that you recorded in the beginning)
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [42]:
# check what are all columns that we've got
unscaled_inputs.columns.values

array(['loop_1', 'loop_2', 'loop_3', 'loop_4', 'ID', 'Month_value',
       'weekday', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Reason for Absence'], dtype=object)

In [44]:
# choose the columns to scale
# we later augmented this code and put it in comments
# columns_to_scale = ['Month Value','Day of the Week', 'Transportation Expense', 'Distance to Work',
       #'Age', 'Daily Work Load Average', 'Body Mass Index', 'Children', 'Pet']
    
# select the columns to omit
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4','Education']

In [46]:
# create the columns to scale, based on the columns to omit
# use list comprehension to iterate over the list
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [55]:
from sklearn.preprocessing import StandardScaler

class CustomScaler:
    def __init__(self, columns, copy=True, with_mean=True, with_std=True):
        # Proper instantiation inside __init__
        self.scaler = StandardScaler(copy=copy, with_mean=with_mean, with_std=with_std)
        self.columns = columns

    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        return self

    def transform(self, X):
        X_scaled = X.copy()
        X_scaled[self.columns] = self.scaler.transform(X[self.columns])
        return X_scaled

    def fit_transform(self, X, y=None):
        return self.fit(X, y).transform(X)

In [57]:
# declare a scaler object, specifying the columns you want to scale
absenteeism_scaler = CustomScaler(columns_to_scale)

In [59]:
# fit the data (calculate mean and standard deviation); they are automatically stored inside the object 
absenteeism_scaler.fit(unscaled_inputs)

In [61]:
# standardizes the data, using the transform method 
# in the last line, we fitted the data - in other words
# we found the internal parameters of a model that will be used to transform data. 
# transforming applies these parameters to our data
# note that when you get new data, you can just call 'scaler' again and transform it in the same way as now
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [63]:
# the scaled_inputs are now an ndarray, because sklearn works with ndarrays
scaled_inputs

,loop_1,loop_2,loop_3,loop_4,ID,Month_value,weekday,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Reason for Absence
0,0.605960,-0.436436,-0.333333,-0.092981,-0.630786,0.182726,-0.683704,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487,0.789020
1,-1.650274,-0.436436,3.000000,-0.092981,1.637762,0.182726,-0.683704,-1.574681,-1.141882,2.130803,-0.806331,1.002633,0,-0.019280,-0.589690,-2.324632
2,0.605960,-0.436436,-0.333333,-0.092981,-1.356721,0.182726,-0.007725,-0.654143,1.426749,0.248310,-0.806331,1.002633,0,-0.919030,-0.589690,0.429752
3,0.605960,-0.436436,-0.333333,-0.092981,-0.993754,0.182726,0.668253,0.854936,-1.682647,0.405184,-0.806331,-0.643782,0,0.880469,-0.589690,-1.486341
4,0.605960,-0.436436,-0.333333,-0.092981,-0.630786,0.182726,0.668253,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487,0.429752
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,-1.650274,2.291288,-0.333333,-0.092981,-0.086334,-0.388293,-0.007725,-0.654143,-0.533522,0.562059,-0.853789,-1.114186,1,0.880469,-0.589690,-1.127074
696,0.605960,-0.436436,-0.333333,-0.092981,0.911827,-0.388293,-0.007725,0.040034,-0.263140,-1.320435,-0.853789,-0.643782,0,-0.019280,1.126663,-1.606097
697,0.605960,-0.436436,-0.333333,-0.092981,0.004407,-0.388293,0.668253,1.624567,-0.939096,-1.320435,-0.853789,-0.408580,1,-0.919030,-0.589690,-1.127074
698,0.605960,-0.436436,-0.333333,-0.092981,0.639601,-0.388293,0.668253,0.190942,-0.939096,-0.692937,-0.853789,-0.408580,1,-0.919030,-0.589690,0.429752
699,-1.650274,2.291288,-0.333333,-0.092981,-0.267818,-0.388293,0.668253,1.036026,0.074838,0.562059,-0.853789,-0.408580,0,-0.019280,0.268487,1.028532

In [65]:
# check the shape of the inputs
scaled_inputs.shape

(700, 16)

## Split the data into train & test and shuffle

### Import the relevant module

In [69]:
# import train_test_split so we can split our data into train and test
from sklearn.model_selection import train_test_split

### Split

In [72]:
# check how this method works
train_test_split(scaled_inputs, targets)

[       loop_1    loop_2    loop_3     loop_4        ID  Month_value   weekday  \
 521 -1.650274 -0.436436 -0.333333  10.754844 -0.812270     1.039256 -0.007725
 540  0.605960 -0.436436 -0.333333  -0.092981 -0.721528     1.324766 -0.683704
 128  0.605960 -0.436436 -0.333333  -0.092981  1.456278    -1.530333 -0.683704
 601 -1.650274  2.291288 -0.333333  -0.092981 -0.086334    -1.244823  1.344231
 285 -1.650274  2.291288 -0.333333  -0.092981 -1.175238     0.753746  0.668253
 ..        ...       ...       ...        ...       ...          ...       ...
 663  0.605960 -0.436436 -0.333333  -0.092981 -0.721528    -0.673803 -0.683704
 669  0.605960 -0.436436 -0.333333  -0.092981  0.367375    -0.673803  1.344231
 336  0.605960 -0.436436 -0.333333  -0.092981  0.458117     1.324766  1.344231
 120  0.605960 -0.436436 -0.333333  -0.092981  0.911827    -1.530333  1.344231
 27   0.605960 -0.436436 -0.333333  -0.092981  1.093311     0.468236 -0.007725

      Transportation Expense  Distance to Work       Age  \
 521                0.085306         -1.074287  3.385799
 540                2.092381          1.494345 -1.320435
 128               -1.574681         -1.344669  0.091435
 601               -0.654143         -0.533522  0.562059
 285                0.190942         -0.668713  1.032682
 ..                      ...               ...       ...
 663                2.092381          1.494345 -1.320435
 669               -0.654143         -0.263140 -1.006686
 336                2.348925          1.291558 -0.065439
 120                0.040034         -0.263140 -1.320435
 27                -0.986140         -0.195544 -1.163560

      Daily Work Load Average  Body Mass Index  Education  Children      Pets  \
 521                 0.326336        -1.114186          0  0.880469  0.268487
 540                -0.082083         0.061825          0 -0.019280  2.843016
 128                 0.919937         0.297027          0 -0.919030 -0.589690
 601                -0.188851        -1.114186          1  0.880469 -0.589690
 285                 0.560476         2.649049          0 -0.019280 -0.589690
 ..                       ...              ...        ...       ...       ...
 663                -0.637953         0.061825          0 -0.019280  2.843016
 669                -0.637953        -1.819793          1 -0.919030 -0.589690
 336                 0.305783        -1.349389          0  0.880469  2.843016
 120                 0.919937        -0.643782          0 -0.019280  1.126663
 27                 -1.647399        -1.114186          0 -0.919030 -0.589690

      Reason for Absence
 521           -2.204877
 540            0.309997
 128            0.908776
 601            0.429752
 285           -2.324632
 ..                  ...
 663            0.429752
 669            0.908776
 336           -2.324632
 120            0.908776
 27             1.028532

 [525 rows x 16 columns],
        loop_1    loop_2    loop_3    loop_4        ID  Month_value   weekday  \
 447 -1.650274  2.291288 -0.333333 -0.092981 -0.267818    -0.102784 -1.359682
 619 -1.650274 -0.436436  3.000000 -0.092981  1.365536    -0.959313 -1.359682
 38  -1.650274 -0.436436  3.000000 -0.092981 -1.447463     0.468236  1.344231
 397  0.605960 -0.436436 -0.333333 -0.092981  0.458117    -0.959313 -0.683704
 542  0.605960 -0.436436 -0.333333 -0.092981  1.456278     1.324766  0.668253
 ..        ...       ...       ...       ...       ...          ...       ...
 221  0.605960 -0.436436 -0.333333 -0.092981 -0.721528    -0.102784 -1.359682
 63   0.605960 -0.436436 -0.333333 -0.092981  1.456278     1.039256 -0.683704
 363  0.605960 -0.436436 -0.333333 -0.092981 -0.630786    -1.530333 -1.359682
 123  0.605960 -0.436436 -0.333333 -0.092981  1.456278    -1.530333 -0.683704
 232  0.605960 -0.436436 -0.333333 -0.092981  0.458117    -0.102784  0.668253

      Transportation Expense  Distance to Work       Age  \
 447                1.036026          0.074838  0.562059
 619                0.387122         -0.330735  1.660180
 38                 0.190942         -0.060353  1.817054
 397                2.348925          1.291558 -0.065439
 542               -1.574681         -1.344669  0.091435
 ..                      ...               ...       ...
 221                2.092381          1.494345 -1.320435
 63                -1.574681         -1.344669  0.091435
 363                1.005844          0.412816 -0.536062
 123               -1.574681         -1.344669  0.091435
 232                2.348925          1.291558 -0.065439

      Daily Work Load Average  Body Mass Index  Education  Children      Pets  \
 447                -0.446195        -0.408580          0 -0.019280  0.268487
 619                -1.240355         1.237836          0  0.880469  0.268487
 38                 -1.647399         1.473038          0 -0.019280  3.701192
 397                -0.685486        -1.349389          0  0.880469  2.843016
 542                -0.082083         0.297027          0 -0.919030 -0.589690
 ..                       ...              ...        ...       ...       ...
 221                 2.644155         0.061825          0 -0.019280  2.843016
 63                 -0.458497         0.297027          0 -0.919030 -0.589690
 363                 1.456728         0.767431          0  0.880469  0.268487
 123                 0.919937         0.297027          0 -0.919030 -0.589690
 232                 2.644155        -1.349389          0  0.880469  2.843016

      Reason for Absence
 447           -0.767806
 619            0.429752
 38             1.028532
 397            0.309997
 542           -0.767806
 ..                  ...
 221            0.309997
 63             0.429752
 363            0.789020
 123            0.908776
 232            0.309997

 [175 rows x 16 columns],
 array([0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1,
        1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0,
        1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1,
        0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
        0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0,
        0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
        0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0,
        0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
        1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1,
        1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1,
        0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
        0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
        0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
        0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
        1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
        1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0,
        0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1]),
 array([1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1,
        1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
        0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0,
        1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
        1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1,
        0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1])]

In [74]:
# declare 4 variables for the split
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, #train_size = 0.8, 
                                                                            test_size = 0.2, random_state = 20)

In [76]:
# check the shape of the train inputs and targets
print (x_train.shape, y_train.shape)

(560, 16) (560,)

In [78]:
# check the shape of the test inputs and targets
print (x_test.shape, y_test.shape)

(140, 16) (140,)

## Logistic regression with sklearn

In [81]:
# import the LogReg model from sklearn
from sklearn.linear_model import LogisticRegression

# import the 'metrics' module, which includes important metrics we may want to use
from sklearn import metrics

### Training the model

In [84]:
# create a logistic regression object
reg = LogisticRegression()

In [86]:
# fit our train inputs
# that is basically the whole training part of the machine learning
reg.fit(x_train,y_train)

LogisticRegression()

In [88]:
# assess the train accuracy of the model
reg.score(x_train,y_train)

0.7071428571428572

### Manually check the accuracy

In [91]:
# find the model outputs according to our model
model_outputs = reg.predict(x_train)
model_outputs

array([0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0])

In [93]:
# compare them with the targets
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [95]:
# ACTUALLY compare the two variables
model_outputs == y_train

array([ True, False, False, False,  True, False,  True,  True,  True,
        True,  True, False, False,  True,  True, False,  True,  True,
       False,  True,  True,  True,  True, False, False,  True,  True,
       False, False, False,  True,  True,  True,  True, False,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True, False, False,  True,  True, False,
        True,  True,  True,  True, False,  True, False,  True,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True,  True,  True,  True,  True, False, False, False,  True,
        True, False, False,  True,  True,  True, False, False,  True,
        True,  True, False,  True, False,  True, False,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True, False,  True,  True,  True,  True,
       False,  True,  True, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True, False,  True, False,  True, False, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True, False, False,  True,  True,  True,  True,
       False,  True, False,  True,  True,  True, False,  True,  True,
        True, False,  True, False,  True,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True, False,
       False, False, False, False,  True,  True,  True, False,  True,
        True,  True,  True, False,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True, False,  True, False,  True, False,
       False,  True, False,  True, False,  True,  True, False, False,
       False,  True, False, False,  True, False,  True, False,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
       False,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True, False, False,  True, False,  True,  True,  True,
        True, False, False,  True,  True, False,  True, False,  True,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True, False,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True, False,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True, False,  True,
        True,  True, False,  True,  True, False, False, False, False,
        True, False,  True,  True, False, False,  True, False,  True,
       False,  True,  True,  True,  True, False,  True, False, False,
        True,  True,  True,  True,  True, False, False,  True,  True,
        True,  True,  True, False,  True, False,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True, False,
        True,  True,  True, False, False, False,  True,  True, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
       False,  True,  True,  True, False, False,  True, False,  True,
       False,  True,  True, False,  True,  True,  True, False,  True,
       False,  True, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True,  True,  True, False,  True,
       False,  True,  True,  True,  True,  True,  True,  True, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True, False,  True,  True,  True, False,  True,  True,
       False, False, False, False,  True, False,  True,  True,  True,
       False,  True,  True,  True,  True,  True, False,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True, False,  True,  True,
       False,  True])

In [97]:
# find out in how many instances we predicted correctly
np.sum((model_outputs==y_train))

396

In [99]:
# get the total number of instances
model_outputs.shape[0]

560

In [101]:
# calculate the accuracy of the model
np.sum((model_outputs==y_train)) / model_outputs.shape[0]

0.7071428571428572

### Finding the intercept and coefficients

In [104]:
# get the intercept (bias) of our model
reg.intercept_

array([-0.14987997])

In [106]:
# get the coefficients (weights) of our model
reg.coef_

array([[ 0.13223668,  0.01550476, -0.16609059, -0.15692932, -0.33045728,
         0.1199584 , -0.14496481,  0.4513547 , -0.20248909,  0.20648608,
         0.06733307, -0.02764406, -0.23621515,  0.312023  , -0.12947767,
        -0.41909568]])

In [108]:
# check what were the names of our columns
unscaled_inputs.columns.values

array(['loop_1', 'loop_2', 'loop_3', 'loop_4', 'ID', 'Month_value',
       'weekday', 'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Reason for Absence'], dtype=object)

In [110]:
# save the names of the columns in an ad-hoc variable
feature_name = unscaled_inputs.columns.values

In [112]:
# use the coefficients from this table (they will be exported later and will be used in Tableau)
# transpose the model coefficients (model.coef_) and throws them into a df (a vertical organization, so that they can be
# multiplied by certain matrices later) 
summary_table = pd.DataFrame (columns=['Feature name'], data = feature_name)

# add the coefficient values to the summary table
summary_table['Coefficient'] = np.transpose(reg.coef_)

# display the summary table
summary_table

               Feature name  Coefficient
0                    loop_1     0.132237
1                    loop_2     0.015505
2                    loop_3    -0.166091
3                    loop_4    -0.156929
4                        ID    -0.330457
5               Month_value     0.119958
6                   weekday    -0.144965
7    Transportation Expense     0.451355
8          Distance to Work    -0.202489
9                       Age     0.206486
10  Daily Work Load Average     0.067333
11          Body Mass Index    -0.027644
12                Education    -0.236215
13                 Children     0.312023
14                     Pets    -0.129478
15       Reason for Absence    -0.419096

In [114]:
# do a little Python trick to move the intercept to the top of the summary table
# move all indices by 1
summary_table.index = summary_table.index + 1

# add the intercept at index 0
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]

# sort the df by index
summary_table = summary_table.sort_index()
summary_table

               Feature name  Coefficient
0                 Intercept    -0.149880
1                    loop_1     0.132237
2                    loop_2     0.015505
3                    loop_3    -0.166091
4                    loop_4    -0.156929
5                        ID    -0.330457
6               Month_value     0.119958
7                   weekday    -0.144965
8    Transportation Expense     0.451355
9          Distance to Work    -0.202489
10                      Age     0.206486
11  Daily Work Load Average     0.067333
12          Body Mass Index    -0.027644
13                Education    -0.236215
14                 Children     0.312023
15                     Pets    -0.129478
16       Reason for Absence    -0.419096

## Interpreting the coefficients

In [117]:
# create a new Series called: 'Odds ratio' which will show the.. odds ratio of each feature
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [119]:
# display the df
summary_table

               Feature name  Coefficient  Odds_ratio
0                 Intercept    -0.149880    0.860811
1                    loop_1     0.132237    1.141378
2                    loop_2     0.015505    1.015626
3                    loop_3    -0.166091    0.846970
4                    loop_4    -0.156929    0.854764
5                        ID    -0.330457    0.718595
6               Month_value     0.119958    1.127450
7                   weekday    -0.144965    0.865053
8    Transportation Expense     0.451355    1.570438
9          Distance to Work    -0.202489    0.816695
10                      Age     0.206486    1.229351
11  Daily Work Load Average     0.067333    1.069652
12          Body Mass Index    -0.027644    0.972735
13                Education    -0.236215    0.789611
14                 Children     0.312023    1.366186
15                     Pets    -0.129478    0.878554
16       Reason for Absence    -0.419096    0.657641

In [121]:
# sort the table according to odds ratio
# note that by default, the sort_values method sorts values by 'ascending'
summary_table.sort_values('Odds_ratio', ascending=False)

               Feature name  Coefficient  Odds_ratio
8    Transportation Expense     0.451355    1.570438
14                 Children     0.312023    1.366186
10                      Age     0.206486    1.229351
1                    loop_1     0.132237    1.141378
6               Month_value     0.119958    1.127450
11  Daily Work Load Average     0.067333    1.069652
2                    loop_2     0.015505    1.015626
12          Body Mass Index    -0.027644    0.972735
15                     Pets    -0.129478    0.878554
7                   weekday    -0.144965    0.865053
0                 Intercept    -0.149880    0.860811
4                    loop_4    -0.156929    0.854764
3                    loop_3    -0.166091    0.846970
9          Distance to Work    -0.202489    0.816695
13                Education    -0.236215    0.789611
5                        ID    -0.330457    0.718595
16       Reason for Absence    -0.419096    0.657641